<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.jasonide/mas2j/Mas2j" 
       class = "jasonide.xtext.mas2j.mas2j.Mas2jPackage"
       genModel = "jasonide/xtext/mas2j/Mas2j.genmodel" /> 
	
  </extension>

</plugin>
